.idea/
__pycache__/
raw_data/census/pickled_files/*
raw_data/weather/pickled_files/*
raw_data/fhfa/pickled_files/*
raw_data/dept_of_education/pickled_files/*
*/test.csv
raw_data/dept_of_education/test.csv
raw_data/census/test.csv
raw_data/voting/voting_data/*
raw_data/voting/pickled_files/*
raw_data/voting/test.csv
raw_data/fbi/pickled_files/*
raw_data/fhfa/test.csv


helper_data/~$ZiptoZcta_Crosswalk_2021.xlsx

venv/



# exception to the rule
!raw_data/census/pickled_files/.gitkeep
!raw_data/weather/pickled_files/.gitkeep
!raw_data/fhfa/pickled_files/.gitkeep

